.todo-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    width: auto;
    height: auto;
    gap: 70px;

}

@media (max-width: 800px) {

    .todo-list-container {
        width: 80%;


    }
}